
<style>
    @import url('https://fonts.cdnfonts.com/css/pokemon-solid');
</style>


<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Pokémon</title>
    <link rel="stylesheet" href="/formulario.css">
</head>
<body>
    <div class="form-card">
        <img src="/pokebola.webp" alt="Pokébola" class="pokeball">
        
        <h1>Adicionar Pokémon</h1>
        
        <form action="/pokemon" method="POST">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
            
            <label for="tipo">Tipo:</label>
            <input type="text" id="tipo" name="tipo" required>
            
            <button type="submit">Adicionar</button>
        </form>
        
        <a href="/">Voltar à Pokédex</a>
    </div>
</body>
</html>
