<style>
    @import url('https://fonts.cdnfonts.com/css/pokemon-solid');
</style>


<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title><%= pokemon.nome %></title>
    <link rel="stylesheet" href="/pokemon.css">
</head>
<body>
    <h1><%= pokemon.nome %></h1>
    <p>Tipo: <%= pokemon.tipo %></p>
    <a href="/">Voltar à Pokédex</a>
</body>
</html>
